@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Merienda:wght@300..900&display=swap');

/* css reset*/ 
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*global variables */ 

:root {
  --seafoam: #9FE2BF;
  --white: #E1E0C9;
  --blue: #204D61;
}

/* mobile first queries */ 

html{
    margin: auto;
}

body{
    background-color: var(--seafoam);
    color: var(--blue);
    margin: 0;
    font-family: "EB Garamond", serif; 
}
.skip-link {
  position: absolute;
  top: -40px;
  left: 0;
  background: var(--seafoam) ;
  color: var(--blue);
  padding: 8px 16px;
  z-index: 100;
  text-decoration: none;
  border-radius: 0 0 4px 4px;
  transition: top 0.3s;
}

.skip-link:focus {
  top: 0;
}

h1, h2, h3{
     font-family: "Merienda", sans-serif; 
     margin-bottom: 20px;
}
h1{
    font-size: 2.2em; 
    text-align: center;
}
h2{
    font-size: 1.75em; 
}
h3{
    font-size: 1.5em; 
    width: 100%;
}
h4{
    font-size: 1.2em; 
    margin: 10px;
}

img{
    object-fit: contain;
    max-width:100%;
}

#heading, #footer{
    background-color: var(--blue); 
    color: var(--white); 
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 10px;
    align-items: center;
    text-align: center;
} 
#heading{
    position: relative; 
}
#heading img{
    width: 10%;
    height: auto; 
}
#heading h1{
    margin: 0;
}
#hamburger{
    width: 50px; 
    height: 50px; 
    background: none;
    border: none;
    position: relative; 
    right: -50px;
    display: flex; 
    flex-direction: column; 
    justify-content: center;
    align-items: flex-end;
    cursor: pointer;
    gap: 4px; 
    z-index: 1000; 
}
#hamburger span {
    display: block; 
    height: 4px; 
    width: 75%; 
    background: var(--white); 
    transition: all 0.3s ease;
}
/*hamburger transition */
 #hamburger.open span:nth-child(1){
    transform: translateY(4px) rotate(45deg); 
 }
 #hamburger.open span:nth-child(2) {
    display: none; 
 }
 #hamburger.open span:nth-child(3){
    transform: translateY(-4px) rotate(-45deg); 
 }

#navigation ul {
    position: absolute; 
    top: 100%; 
    left: 0; 
    right: 0; 
    background: var(--white); 
    box-shadow: 0 2px 8px var(--blue);
    z-index: 2000; 
    overflow: hidden; 
    max-height: 0; 
    opacity: 0; 
    transform: translateY(-10px); 
    pointer-events: none; 
    transition:
      opacity 0.5s ease,
      transform 0.5s ease;
}

#navigation.open ul {
    max-height: 500px; 
    opacity: 1; 
    transform: translateY(0); 
    pointer-events: auto;
    display: block; 
}
#navigation li{
    padding: 10px; 
    margin: 20px 0 0; 
    border-bottom: 1px solid var(--blue);
}
#navigation a{
    text-decoration: none; 
    color: var(--blue);
}
#home-page-img{
    margin-bottom: 20px;
}
#home-page-img img{
    max-width: 100vw; 
}
#home p{
    line-height: 1.5em
} 
.image-container{
    display:flex;
    align-items: center;
}
.image-container img, iframe{ 
    max-height: 500px;
    height: auto;
    width: auto;
    margin: auto;
    border-radius: 20px;
    border: 10px solid var(--blue);
}
#home, #contact, #menu {
    padding-top: 50px;
}
.placeholder{
    margin-bottom: 20px;
    justify-items: center;
}
#home h2, #home p{
    width: 90%; 
    margin: 10px auto;
}

#deals{
    flex-direction: row-reverse;
}
#contact{
    background-color: var(--blue); 
    color: var(--white);
    padding: 20px; 
    border-radius: 20px;
    margin: 100px auto; 
}

#contact h2, #menu h2{
    text-align: center;
    margin-bottom: 50px;
}

 #contact input, #contact textarea{
        background-color: var(--white); 
        border: 5px solid var(--seafoam); 
        border-radius: 10px; 
        padding: 10px; 
        margin: 10px;
    }
#contact label{
    font-size: 1.2em; 
    align-content: center;
}
#contact input, #contact textarea{
    font-family: "EB Garamond", serif; 
    font-size: 1.2em; 
}
#form div{
    width: 100%;
    display: flex; 
}
#form input, #form textarea {
    width: 100%;
}


#form-submit{
    font-family: "EB Garamond", serif; 
    color: var(--blue);
    font-size: 1.5em;
    padding: 20px 10px; 
    width: 95%; 
    background-color: var(--white); 
    border: 5px solid var(--seafoam);
    border-radius: 10px;
    margin: 20px;
}

  #fav-dish-container{
        display: flex; 
        justify-content: space-evenly;
        flex-wrap: wrap;
        text-align: center;
        margin-bottom: 50px;
        padding: 50px 10px;
        background-color: var(--blue); 
        color: var(--white); 
    }
    .fav-dish{
        width: 90%; 
        margin: 20px auto; 
        display: flex; 
        flex-direction: column;
    }

     #buttons-div{
        display: flex; 
        flex-wrap: wrap; 
        justify-content: space-evenly; 
        margin: 20px;
    }
    #buttons-div button{
         font-family: "EB Garamond", serif; 
        color: var(--blue);
        font-size: 1.2em;
        padding: 20px 10px; 
        width: 90%; 
        background-color: var(--white); 
        border: 5px solid var(--blue);
        border-radius: 10px;
        margin: 10px auto;
        cursor: pointer;
    }
    #menu-div{
        background-color: var(--white); 
        padding: 40px;
        display: flex; 
        flex-wrap: wrap; 
    }
    .food-item-div{
        width: 100%;
        display:flex;
        flex-wrap: wrap; 
        justify-content:space-between;
        gap: 10px;
    }
    .food-item-div p {
        margin: 10px; 
    }
    .food-item-div :last-child{
        width:  100%;
    }

    #contributor{
        width: 100%;
    }

    #footer div{
        margin: 10px; 
    }

/* desktop size queries */ 
@media screen and (min-width: 768px){

    #hamburger{
        display: none;
    }
    #navigation {
        width: 60%;
    }
    #navigation ul{
        display: flex; 
        justify-content: space-evenly; 
    }
    #home-page-img{
        height: 100vh; 
        overflow: hidden;
    }
    .p-section{
    width: 35%;
    align-self: center;
    margin: 20px;
}
    .placeholder{
        display: flex; 
        justify-content:center;
    }
    iframe{
        margin: 10px;
    }
    #contact-form{
        display: flex; 
        justify-content: end;
    }
    #contact form{
        display: flex; 
        flex-direction: row; 
        flex-wrap: wrap;
    }
    #contact{
        width: 60%; 
    }
    #contact label{ 
        width: 15%;
        margin: 10px;
    }
    #form{
        justify-content: flex-end;
    }
    #form-submit{
        width: 30%; 
    }

    .fav-dish{
        width: 30%;
    }
    #buttons-div{
        justify-content: center; 
        gap: 5px;
    }

    #buttons-div button{
        width: 25%;
        margin: 5px;
        padding: 10px;
        background-color: var(--seafoam);
    }
    

    #menu{
        background-color: var(--blue); 
        color: var(--white);
        padding-bottom: 20px;
    }


    .dish-img img{
        height: 300px; 
        width: 300px;
        object-fit:cover;
        border: 2px solid var(--white);
        border-radius: 10px;
    }

    #menu-container{
        background-color: var(--white); 
        color: var(--blue); 
        padding: 20px;
    }


    #contributor{
        width: 100%;
    }

    #footer div{
        margin: 10px; 
    }  
}