@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Merienda:wght@300..900&display=swap');

/* css reset*/ 
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*global variables */ 

:root {
  --seafoam: #9FE2BF;
  --white: #E1E0C9;
  --blue: #204D61;
}

/* mobile first queries */ 

html{
    margin: auto;
}

body{
    background-color: var(--seafoam);
    color: var(--blue);
    margin: 0;
    font-family: "EB Garamond", serif; 
}

h1, h2, h3{
     font-family: "Merienda", sans-serif; 
     margin-bottom: 20px;
}
h1{
    font-size: 2em; 
    text-align: center;
}
h2{
    font-size: 1.5em; 
}
h3{
    font-size: 1.5em; 
    width: 100%;
}
h4{
    font-size: 1.2em; 
}
img{
    object-fit: contain;
    max-width:100%;
}

#heading, #footer{
    background-color: var(--blue); 
    color: var(--white); 
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 10px;
    align-items: center;
    text-align: center;
} 
#heading img{
    width: 10%;
    height: auto; 
}
#heading h1{
    margin: 0;
}
#hamburger{
    width: 50px; 
    height: 50px; 
    background: none;
    border: none;
    position: relative; 
    right: -50px;
    display: flex; 
    flex-direction: column; 
    justify-content: center;
    align-items: flex-end;
    gap: 4px; 
    z-index: 1000; 
}
#hamburger span {
    display: block; 
    height: 4px; 
    width: 75%; 
    background: var(--white); 
}
#navigation ul{
    display: none; 
}
#navigation a{
    text-decoration: none; 
    color: var(--white);
}
#home-page-img{
    margin-bottom: 20px;
}
#home-page-img img{
    max-width: 100vw; 
}

.image-container{
    display:flex;
    align-items: center;
}
.image-container img, #maps{ 
    max-height: 500px;
    height: auto;
    width: auto;
    border-radius: 20px;
    margin: auto;
    border: 10px solid var(--blue);
}

.placeholder{
    margin-bottom: 20px;
}
#home h2, #home p{
    width: 90%; 
    margin: 10px auto;
}
#home p{
    margin-bottom: 40px; 
}
#deals{
    flex-direction: row-reverse;
}
#contact h2{
    text-align: center;
}
 #contact input, #contact textarea{
        background-color: var(--white); 
        border: 5px solid var(--seafoam); 
        border-radius: 10px; 
        padding: 10px; 
        margin: 10px;
    }
#contact label{
    color: var(--white);
    font-size: 1.5em; 
    align-content: center;
}
#contact input, #contact textarea{
    font-family: "EB Garamond", serif; 
    font-size: 1em; 
    width: 70%;
}

#contact-form{
    background-color: var(--blue); 
    padding: 40px; 
    border-radius: 20px;
}

#contact{
    margin: 100px auto; 
}



#form-submit{
    font-family: "EB Garamond", serif; 
    color: var(--blue);
    font-size: 1.5em;
    padding: 20px 10px; 
    width: 80%; 
    background-color: var(--white); 
    border: 5px solid var(--seafoam);
    border-radius: 10px;
    margin: 10px auto;
}
/* desktop size queries */ 
@media screen and (min-width: 850px){

    #hamburger{
        display: none;
    }
    #navigation {
        width: 60%;
    }
    #navigation ul{
        display: flex; 
        justify-content: space-evenly; 
    }
    #home-page-img{
        height: 100vh; 
        overflow: hidden;
    }
    .p-section{
    width: 35%;
    align-self: center;
    margin: 20px;
}
    .placeholder{
        display: flex; 
        justify-content:center;
    }
    #contact-form{
        display: flex; 
        justify-content: end;
    }
    #contact form{
        display: flex; 
        flex-direction: row; 
        flex-wrap: wrap;
    }
    #contact{
        width: 60%; 
    }
    #contact label{ 
        width: 15%;
        margin: 10px;
    }

    #form-submit{
        width: 30%; 
    }

    #menu{
        background-color: var(--blue); 
        color: var(--white);
        padding-bottom: 20px;
    }

    #fav-dish-container{
        display: flex; 
        justify-content: space-evenly;
        flex-wrap: wrap;
        text-align: center;
        margin-bottom: 50px;
    }
    .fav-dish{
        display: flex; 
        flex-direction: column;
    }

    .dish-img img{
        height: 300px; 
        width: 300px;
        object-fit:cover;
        border: 2px solid var(--white);
        border-radius: 10px;
    }

    #menu-container{
        background-color: var(--white); 
        color: var(--blue); 
        padding: 20px;
    }

    #buttons-div{
        display: flex; 
        flex-wrap: wrap; 
        justify-content: space-evenly; 
    }
    #buttons-div button{
         font-family: "EB Garamond", serif; 
        color: var(--blue);
        font-size: 1.2em;
        padding: 20px 10px; 
        width: 15%; 
        background-color: var(--seafoam); 
        border: 5px solid var(--blue);
        border-radius: 10px;
        margin: 10px auto;
    }
    #contributor{
        width: 100%;
    }

    #footer div{
        margin: 10px; 
    }

    
}